<div class="coach-container">
  <div class="coach-wrap">
    <div class="row">
      <h1>ANSWER</h1>
      <!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
    </div>

    <div class="row">
      <h2 class="coach-h2"><%= @answer %></h2>
    </div>

     <div class="row">
        <%= link_to "Ask a new question", ask_path %>
     </div>
  </div>
</div>
