<div class="coach-container">
  <div class="coach-wrap">
    <div class="row">
      <h1>QUESTIONS</h1>
      <!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
    </div>

    <div class="row">
      <form action="/answer" method="get" class="form-signin">
        <div class="form-label-group">
          <input type="text" name="question">
          <input type="submit" value="Ask!" class="btn btn-lg btn-primary btn-block">
        </div>
      </form>
    </div>
  </div>
</div>
